Flask==0.9
Flask-Assets==0.8
Flask-SQLAlchemy==0.16
Jinja2==2.6
Mako==0.8.0
MarkupSafe==0.15
MySQL-python==1.2.4
SQLAlchemy==0.8.0
Werkzeug==0.8.3
alembic==0.5.0
argparse==1.2.1
webassets==0.8
wsgiref==0.1.2
